<%= form_for (@post) do |f| %>


<div class="field">
  <%= f.label :Name %><br />
  <%= f.text_field :fname %>
</div>
  
<div class="field">
  <%= f.label :Post %><br />
  <%= f.text_field :content %>
</div>

  
<div class="actions">
  <%= f.submit %>
</div>



<% end %>
