<h1>Posts List</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= "Post Description"%></th>
    <th><%= "Name" %></th>
    </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.fname %></td>
      <td><%= post.content %></td>
      <td><%= link_to "Show", post_path(post), :class => 'btn btn-mini btn-primary' %></td>
      <td><%= link_to "Edit", edit_post_path(post), :class => 'btn btn-mini btn-primary' %>
      <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      <% end %>
     
    </tr>  
    
  </tbody>
</table>
<%= link_to "Add a Post", new_post_path, :class => 'btn btn-mini btn-primary' %>